[user]
    name = Laurent Stacul
    email = laurent.stacul@gmail.com
    signingkey = 6A8B84A864DECF73
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    autocrlf = input
[merge]
    tool = vimdiff
[alias]
    st = status --ignore-submodules
    sst = status --ignore-submodules=none
    co = checkout
    lol = log --pretty=oneline --graph --decorate --branches --remotes --tags --abbrev-commit
    dif = diff --ignore-submodules=all
    sdiff = diff --ignore-submodules=none --submodule=log
[credential]
    helper = cache --timeout=3600
[color]
    ui = true
[push]
    default = simple
[pull]
    rebase = merges
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[difftool "vimdiff"]
    cmd = vim -d -f -c \"3wincmd w | wincmd J\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[sendemail]
    chainreplyto = false
    smtpEncryption = tls
    smtpServer = smtp.gmail.com
    smtpUser = laurent.stacul
    smtpServerPort = 587
[commit]
    gpgsign = true
