[submodule "scripts/battery"]
	path = scripts/battery
	url = https://github.com/richo/battery.git
[submodule "scripts/Boost-Pretty-Printer"]
	path = scripts/Boost-Pretty-Printer
	url = https://github.com/mateidavid/Boost-Pretty-Printer.git
[submodule ".vim/pack/stac/start/vim-markdown"]
	path = .vim/pack/stac/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/pack/stac/start/vim-commentary"]
	path = .vim/pack/stac/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/stac/start/tagbar"]
	path = .vim/pack/stac/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/stac/start/syntastic"]
	path = .vim/pack/stac/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/pack/stac/start/vim-surround"]
	path = .vim/pack/stac/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/stac/start/vim-characterize"]
	path = .vim/pack/stac/start/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule ".vim/pack/stac/start/unite.vim"]
	path = .vim/pack/stac/start/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/pack/stac/start/vim-bbye"]
	path = .vim/pack/stac/start/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule ".vim/pack/stac/start/tlib_vim"]
	path = .vim/pack/stac/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/pack/stac/start/vim-addon-mw-utils"]
	path = .vim/pack/stac/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/pack/stac/start/vim-snipmate"]
	path = .vim/pack/stac/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/pack/stac/start/vim-snippets"]
	path = .vim/pack/stac/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/pack/stac/start/ctrlp.vim"]
	path = .vim/pack/stac/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
