[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[user]
	name = Laurent Stacul
	email = laurent.stacul@gmail.com
[merge]
	tool = vimdiff
[alias]
	st = status
	co = checkout
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
[credential]
	helper = cache
[color]
	ui = true
[push]
	default = simple
