*.orig
doc/tags
.DS_Store
tmux-client-*.log
tmux-server-*.log
.cgdb/readline_history.txt
.vim/.netrwhist
.tmux/plugins/tmux-battery/
.tmux/plugins/tmux-cpu/
.tmux/plugins/tmux-sensible/
.vim/black
.gitsecret/keys/random_seed
!*.secret
.zshrc.hidden
